*.code-workspace
*.log
*.pdf
*.sqlite*
*.zip
*/migrations/[0-9]*.py
*awesome*.md
*env*/
.env
.gitignore.backup
.idea
.ipynb_checkpoints
.vscode
__pycache__/
foo.py
staticfiles

Untitled.ipynb

.run/
/dev/tutorial/